@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 350px;
  height: 596px;
  border-radius: 15px;
  background-color: #15263f;
  padding: 24px;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Outfit", sans-serif;
  background-color: #0d192c;
}
.clock {
  margin: 9.03px;
}
.main {
  border-radius: 8px;
  width: 100%;
}
.title {
  font-size: 22px;
  line-height: 27.72px;
  color: #ffffff;
  font-style: normal;
  font-weight: 600;
  margin-top: 24px;
}
.cripto {
  width: 75px;
  height: 20px;
  font-size: 16px;
  line-height: 20.16px;
  color: #00fff8;
  font-style: normal;
  margin: 6.49px;
}
.eth {
  width: 11px;
  height: 12.43px;
}
.slogan {
  font-size: 18px;
  line-height: 26px;
  color: #8bacd9;
  font-style: normal;
  font-weight: 300;
  margin-top: 16px;
}
.day {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  font-style: normal;
  color: #8bacd9;
}
.wraper {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}
.eth-logo {
  display: flex;
  align-items: center;
}
.time {
  display: flex;
  align-items: center;
}
.line {
  height: 1px;
  color: #2e405a;
}
.avatar {
  box-sizing: border-box;
  width: 33px;
  height: 33px;
  margin-top: 16px;
}
.last {
  display: flex;
  align-items: center;
}
.down-text {
  color: #8bacd9;
  align-items: center;
  display: flex;
  margin: 5px;
  margin-top: 22px;
}
.second-down {
  display: flex;
  color: #ffffff;
  align-items: center;
  margin: 5px;
  margin-top: 22px;
}
.line {
  height: 1px;
  background-color: #2e405a;
  margin-top: 14px;
}
.box {
  background-color: #00fff8;
  width: 100%;
  border-radius: 8px;
  position: relative;
  cursor: pointer;
  height: 302px;
}
.cube {
  width: 100%;
  border-radius: 8px;
  height: 100%;
}
.view {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
.box:hover .cube {
  opacity: 0.5;
}
.box:hover .view {
  display: block;
}

@media (max-width: 375px) {
  .container {
    width: 327px;
  }
  .slogan {
    margin-top: 12px;
  }
  .cripto {
    width: 70px;
    height: 19px;
    font-size: 15px;
    line-height: 19px;
  }
  .day {
    font-size: 15px;
    line-height: 19px;
  }
}
